#albumitem {
	width: 620px;
	height: 315px;
	position: relative;
	margin: 0px;
	padding: 0px;
	float: left;
}
#albumPhoto {
	margin: 0px;
	padding: 2px;
	height: 300px;
	width: 400px;
	position: relative;	
	float: left;
	border: 1px solid #DEE5FD;
}
#albumphotocaption {
	margin: 0px;
	padding: 0px 0px 0px 5px;
	width: 200px;
	height: 300px;
	float: left;
	position: relative;
	overflow: auto;
}
